.formcont{
    position: fixed;
    top: calc(50%-40%);
    left: calc(50%-25%);
    background: transparent;
    padding: 10px;
    width: 55%;
}
.lable{
    display: block;
    text-align: left !important;

}
.alert{
    display: none;
}
.showAlert{
    color: red;
    display: block !important;
}